*.tar.gz

# *.exe
src/olivingcoin
src/olivingcoind
src/olivingcoin-cli
src/olivingcoin-tx
src/olivingcoin-wallet
src/test/test_olivingcoin
src/test/test_olivingcoin_fuzzy
src/qt/test/test_olivingcoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/olivingcoin-config.h
src/config/olivingcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/olivingcoin-qt.config
src/qt/olivingcoin-qt.creator
src/qt/olivingcoin-qt.creator.user
src/qt/olivingcoin-qt.files
src/qt/olivingcoin-qt.includes

.deps
.dirstamp
.libs
.vscode
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
olivingcoin-qt
olivingcoin-Qt.app
background.tiff*

# Unit-tests
Makefile.test
olivingcoin-qt_test

# Resources cpp
qrc_*.cpp
# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_olivingcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libolivingcoinconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist
